/* 700px */
@media (max-width: 43.75em) {
  html {
    font-size: 40%;
  }
}
/* 450px */
@media (max-width: 28.125em) {
  html {
    font-size: 30%;
  }
}
/* 450px */
@media (max-height: 45em) {
  html {
    font-size: 40%;
  }
}
/* 520px */
@media (max-height: 32.5em) {
  html {
    font-size: 30%;
  }
}
/* 400px */
@media (max-height: 25em) {
  html {
    font-size: 25%;
  }
}
