*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 56.25%;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Arial";
  background-color: #121212;
}

.container {
  font-size: 10rem;
  color: #e1e1e1;
  width: 96vw;
  height: 96vh;
  margin-top: 2vh;
  margin-left: 2vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col {
  display: grid;
  grid-template-columns: repeat(6, auto);
  background-color: #1e1e1e;
  border-radius: 5px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  padding-bottom: 2rem;
}

.item.middle::after {
  content: "o";
  position: absolute;
}
